.message{
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
    /* border: 1px solid red; */
    margin: 1%;
}

.app {
  background-color: #30323E;
  height: 100vh;
}

